<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New Task</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1>Criar Task</h1>
  <form action="/tasks/create" method="post">
    <div>
      <input type="text" name="nome" placeholder="Digite o nome da task"/>
    </div>
    <div>
      <input type="text" name="descricao" placeholder="Descrição da task"/>
    </div>
    <div>
      <input type="submit" value="enviar"/>
    </div>
  </form>
</body>
</html>